<div>
    <h4>Validating Form Example</h4>

    <div class="validatableForm">
        <form role="form" name="userForm" novalidate="novalidate">
            <!--Text Input with Required validation-->
            <div class="form-group">
                <label for="firstName">
                    * First Name
                    <a ng-href="#" class="glyphicon glyphicon-info-sign" ng-click="showDetails('firstName')"></a>
                </label>
                <input type="text" class="form-control" ng-model="user.firstName" id="firstName" name="firstName"
                       placeholder="Enter First Name" required>
            </div>

            <!--Text Input with Required validation-->
            <!--add bootstrap validation: ng-class="{'has-error': userForm.lastName.$invalid}"-->
            <div class="form-group">
                <label for="lastName">
                    * Last Name
                    <a ng-href="#" class="glyphicon glyphicon-info-sign" ng-click="showDetails('lastName')"></a>
                </label>
                <input type="text" class="form-control" ng-model="user.lastName" id="lastName" name="lastName"
                       placeholder="Enter Last Name" required>

                <!--add bootstrap help block-->
                <!--<span class="help-block"  ng-show="userForm.lastName.$invalid">-->
                    <!--lastName is required-->
                <!--</span>-->
            </div>

            <!--Number input with min/max validation-->
            <div class="form-group">
                <label for="age">
                    Age
                    <a ng-href="#" class="glyphicon glyphicon-info-sign" ng-click="showDetails('age')"></a>
                </label>
                <input type="number" class="form-control" ng-model="user.age" id="age" name="age"
                       placeholder="Enter age between 1 and 120" min="1" max="120" factor-validator="2"> <!-- factor-validator="2" -->
            </div>

            <!--Dropdown Select-->
            <div class="form-group">
                <label for="currentResidence">
                    Current Residence
                    <a ng-href="#" class="glyphicon glyphicon-info-sign" ng-click="showDetails('currentResidence')"></a>
                </label>
                <select ng-model="user.currentResidence" id="currentResidence" name="currentResidence"
                        class="form-control"
                        ng-options="location.city for location in formData.locations">
                    <option value="" selected disabled>Please select a city</option>
                </select>
            </div>

            <!--Radio-->
            <div class="form-group">
                <div>
                    <label>
                        Number of Kids
                        <a ng-href="#" class="glyphicon glyphicon-info-sign" ng-click="showDetails('nbrOfKids')"></a>
                    </label>
                </div>
                <label class="radio-inline">
                    <input type="radio" name="nbrOfKids" ng-model="user.nbrOfKids" id="nbrOfKids1" value="1"> 1
                </label>
                <label class="radio-inline">
                    <input type="radio" name="nbrOfKids" ng-model="user.nbrOfKids" id="nbrOfKids2" value="2"> 2
                </label>
                <label class="radio-inline">
                    <input type="radio" name="nbrOfKids" ng-model="user.nbrOfKids" id="nbrOfKids3" value="3"> 3 or more
                </label>
            </div>

            <!--Submit/Reset Button-->
            <!-- The button's active state is based on the form state -->
            <div class="form-group">
                <button type="submit" ng-click="doSubmitForm(userForm)" ng-disabled="userForm.$invalid" class="btn btn-primary">Submit</button>
                <button type="reset" ng-click="doReset(userForm)" ng-disabled="userForm.$pristine" class="btn btn-default">Reset</button>
            </div>
        </form>
    </div>

    <h3>Form Information</h3>

    <div class="well well-sm">
        <div class="row">
            <div class="col-md-5">
                <h5>User Bindings:</h5>
                <pre ng-bind="user | json"></pre>
            </div>
            <div class="col-md-2">
                <h5>Form State:</h5>

                <p><b>Valid:</b> {{userForm.$valid}}</p>

                <p><b>Pristine:</b> {{userForm.$pristine}}</p>
            </div>
            <div class="col-md-5">
                <h5>Form Element Info</h5>

                <p><b>Name:</b> {{infoElement.$name}}</p>

                <p><b>Model Value:</b> {{infoElement.$modelValue}}</p>

                <p><b>View Value:</b> {{infoElement.$viewValue}}</p>

                <p><b>Valid:</b> {{infoElement.$valid}}</p>

                <p><b>Pristine:</b> {{infoElement.$pristine}}</p>

                <p><b>Errors:</b> <pre ng-bind="infoElement.$error | json"></pre></p>
            </div>
        </div>
    </div>
</div>
