<div class="modal-header">
    <h4 class="modal-title">Add New Group</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-xs-12">
            <input autofocus type="text" class="form-control" ng-model="data.groupName" id="groupName" placeholder="Group name"/>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">Close</button>
    <button class="btn btn-primary" ng-click="ok()">Save changes</button>
</div>


